In [1]:
import pandas as pd

In [23]:
df=pd.read_excel("Telco_customer_churn.xlsx")
df.head(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [24]:
df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [25]:
drop_cols=['CustomerID', 'Count', 'Country', 'State', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Churn Label',
       'Churn Score', 'CLTV','Churn Reason' ]

In [26]:
cols_to_drop = [c for c in drop_cols if c in df.columns]
df.drop(columns=cols_to_drop, inplace=True)
df.columns

Index(['City', 'Gender', 'Senior Citizen', 'Partner', 'Dependents',
       'Tenure Months', 'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Value'],
      dtype='object')

In [27]:
df.rename(columns={'Churn Value':'Churn'},inplace=True)

In [28]:
df.columns

Index(['City', 'Gender', 'Senior Citizen', 'Partner', 'Dependents',
       'Tenure Months', 'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn'],
      dtype='object')

In [29]:
import sqlite3 as sql
conn=sql.connect("Customer_Churn_Analysis.db")
df.to_sql("customer_churn", conn, if_exists="replace", index=False)

7043

In [30]:
query="SELECT * FROM customer_churn"
sql_df=pd.read_sql(query,conn)
sql_df.head()

,City,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Los Angeles,Male,No,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
1,Los Angeles,Female,No,No,Yes,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
2,Los Angeles,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,1
3,Los Angeles,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,1
4,Los Angeles,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,1

In [31]:
pd.read_sql("PRAGMA table_info(customer_churn);", conn)

    cid               name     type  notnull dflt_value  pk
0     0               City     TEXT        0       None   0
1     1             Gender     TEXT        0       None   0
2     2     Senior Citizen     TEXT        0       None   0
3     3            Partner     TEXT        0       None   0
4     4         Dependents     TEXT        0       None   0
5     5      Tenure Months  INTEGER        0       None   0
6     6      Phone Service     TEXT        0       None   0
7     7     Multiple Lines     TEXT        0       None   0
8     8   Internet Service     TEXT        0       None   0
9     9    Online Security     TEXT        0       None   0
10   10      Online Backup     TEXT        0       None   0
11   11  Device Protection     TEXT        0       None   0
12   12       Tech Support     TEXT        0       None   0
13   13       Streaming TV     TEXT        0       None   0
14   14   Streaming Movies     TEXT        0       None   0
15   15           Contract     TEXT        0       None   0
16   16  Paperless Billing     TEXT        0       None   0
17   17     Payment Method     TEXT        0       None   0
18   18    Monthly Charges     REAL        0       None   0
19   19      Total Charges     TEXT        0       None   0
20   20              Churn  INTEGER        0       None   0

In [32]:
pd.read_sql(
    """
    SELECT churn, COUNT(*) AS customers
    FROM customer_churn
    GROUP BY churn
    """,
    conn
)

   Churn  customers
0      0       5174
1      1       1869

In [33]:
pd.read_sql(
    """
    SELECT ROUND(AVG(churn)*100, 2) AS churn_percentage
    FROM customer_churn
    """,
    conn
)

   churn_percentage
0             26.54

In [45]:
city_churn=pd.read_sql(
    """
    SELECT
         CITY,
         COUNT(*) AS customers,
         ROUND(AVG(churn)*100,2) AS churn_percentage
    FROM customer_churn
    GROUP BY CITY
    ORDER BY churn_percentage DESC
    """,conn
)
city_churn.head(20)

                City  customers  churn_percentage
0         Wrightwood          4             100.0
1              Twain          4             100.0
2            Truckee          4             100.0
3             Tipton          4             100.0
4   South Lake Tahoe          4             100.0
5        Smith River          4             100.0
6          Riverbank          4             100.0
7           Maricopa          4             100.0
8       Johannesburg          4             100.0
9         Fort Jones          4             100.0
10          Eldridge          4             100.0
11     Boulder Creek          4             100.0
12            Seeley          5              80.0
13         San Dimas          5              80.0
14     Panorama City          5              80.0
15      Indian Wells          5              80.0
16         Wheatland          4              75.0
17         Templeton          4              75.0
18        Summerland          4              75.0
19   South Dos Palos          4              75.0

In [46]:
pd.read_sql(
    """
    SELECT 
        "Payment Method" AS payment_method,
        COUNT(*) AS customers,
        ROUND(AVG(churn)*100, 2) AS churn_percentage
    FROM customer_churn
    GROUP BY "Payment Method"
    ORDER BY churn_percentage DESC
    """,
    conn
)

              payment_method  customers  churn_percentage
0           Electronic check       2365             45.29
1               Mailed check       1612             19.11
2  Bank transfer (automatic)       1544             16.71
3    Credit card (automatic)       1522             15.24

In [47]:
pd.read_sql(
    """
    SELECT 
        CASE 
            WHEN "Tenure Months" <= 6 THEN '0–6 months'
            WHEN "Tenure Months" <= 12 THEN '6–12 months'
            WHEN "Tenure Months" <= 24 THEN '12–24 months'
            ELSE '24+ months'
        END AS tenure_bucket,
        COUNT(*) AS customers,
        ROUND(AVG(churn)*100, 2) AS churn_percentage
    FROM customer_churn
    GROUP BY tenure_bucket
    ORDER BY churn_percentage DESC
    """,
    conn
)

  tenure_bucket  customers  churn_percentage
0    0–6 months       1481             52.94
1   6–12 months        705             35.89
2  12–24 months       1024             28.71
3    24+ months       3833             14.04

Feature Based Analysis

In [48]:
df['tenure_bucket']=pd.cut(
                    df['Tenure Months'],
                    bins=[0,6,12,24,60],
                    labels=['0-6','6-12','12-24','24+']
)

In [49]:
df['tenure_bucket'].value_counts().sort_index()

tenure_bucket
0-6      1470
6-12      705
12-24    1024
24+      2426
Name: count, dtype: int64

In [50]:
df['early_tenure'] = (df['Tenure Months'] <= 6).astype(int)

In [51]:
df['is_month_to_month'] = (df['Contract'] == 'Month-to-month').astype(int)

In [52]:
df['manual_payment'] = df['Payment Method'].isin(
    ['Electronic check', 'Mailed check']
).astype(int)

In [53]:
df['Total Charges'] = pd.to_numeric(
    df['Total Charges'],
    errors='coerce'
)

In [55]:
df['avg_monthly_revenue'] = df['Total Charges'] / df['Tenure Months']

In [56]:
df['avg_monthly_revenue'] = (
    df['avg_monthly_revenue']
        .replace([float('inf'), -float('inf')], 0)
        .fillna(0)
)

In [57]:
df[['Total Charges', 'Tenure Months', 'avg_monthly_revenue']].head()

   Total Charges  Tenure Months  avg_monthly_revenue
0         108.15              2            54.075000
1         151.65              2            75.825000
2         820.50              8           102.562500
3        3046.05             28           108.787500
4        5036.30             49           102.781633

In [58]:
city_churn_rate = (
    df.groupby('City')['Churn']
      .mean()
)

df['city_churn_rate'] = df['City'].map(city_churn_rate)
city_churn_df = (
    df
    .groupby('City', as_index=False)
    .agg(
        city_churn_rate=('Churn', 'mean'),
        total_customers=('Churn', 'count')
    ).sort_values('city_churn_rate',ascending=False)
)

city_churn_df.head()

              City  city_churn_rate  total_customers
345     Fort Jones              1.0                4
297       Eldridge              1.0                4
590       Maricopa              1.0                4
105  Boulder Creek              1.0                4
842      Riverbank              1.0                4

In [59]:
protection_cols = [
    'Online Security',
    'Online Backup',
    'Device Protection',
    'Tech Support'
]

df['protection_score'] = (
    df[protection_cols] == 'Yes'
).sum(axis=1)

In [60]:
df['streaming_user'] = (
    (df['Streaming TV'] == 'Yes') |
    (df['Streaming Movies'] == 'Yes')
).astype(int)

In [61]:
df[[
    'Tenure Months', 'tenure_bucket', 'early_tenure',
    'is_month_to_month', 'manual_payment',
    'avg_monthly_revenue', 'city_churn_rate',
    'protection_score', 'streaming_user',
    'Churn'
]].head()

,Tenure Months,tenure_bucket,early_tenure,is_month_to_month,manual_payment,avg_monthly_revenue,city_churn_rate,protection_score,streaming_user,Churn
0,2,0-6,1,1,1,54.075000,0.295082,2,0,1
1,2,0-6,1,1,1,75.825000,0.295082,0,0,1
2,8,6-12,0,1,1,102.562500,0.295082,1,1,1
3,28,24+,0,1,1,108.787500,0.295082,2,1,1
4,49,24+,0,1,0,102.781633,0.295082,2,1,1

Model Prep and Encoding

In [62]:
y = df['Churn']
X = df.drop(columns=['Churn', 'City'], errors='ignore')

In [63]:
categorical_cols = [
    'Gender',
    'Senior Citizen',
    'Partner',
    'Dependents',
    'Phone Service',
    'Multiple Lines',
    'Internet Service',
    'Online Security',
    'Online Backup',
    'Device Protection',
    'Tech Support',
    'Streaming TV',
    'Streaming Movies',
    'Contract',
    'Paperless Billing',
    'Payment Method',
    'tenure_bucket'
]

In [64]:
X_encoded = pd.get_dummies(
    X,
    columns=categorical_cols,
    drop_first=True
)

In [65]:
X_encoded.shape
X_encoded.isnull().sum().sum()

11

In [66]:
X_encoded.isnull().sum().sort_values(ascending=False).head(10)

Total Charges                            11
Tenure Months                             0
Streaming Movies_Yes                      0
Device Protection_No internet service     0
Device Protection_Yes                     0
Tech Support_No internet service          0
Tech Support_Yes                          0
Streaming TV_No internet service          0
Streaming TV_Yes                          0
Streaming Movies_No internet service      0
dtype: int64

In [67]:
df['Total Charges'] = df['Total Charges'].fillna(0)

In [68]:
X = df.drop(columns=['Churn', 'City'], errors='ignore')

X_encoded = pd.get_dummies(
    X,
    columns=categorical_cols,
    drop_first=True
)

In [69]:
X_encoded.isnull().sum().sum()

0

In [70]:
from sklearn.model_selection import train_test_split 

X_train,X_test,y_train,y_test= train_test_split(
        X_encoded,
        y,
        test_size=0.2,
        random_state=42,
        stratify=y
)

In [71]:
X_train.shape, X_test.shape

((5634, 40), (1409, 40))

TESTING the Models

In [72]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    classification_report,
    roc_auc_score
)

In [73]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [74]:
log_reg = LogisticRegression(
    max_iter=1000,
    class_weight='balanced',
    random_state=42
)

log_reg.fit(X_train_scaled, y_train)

LogisticRegression(class_weight='balanced', max_iter=1000, random_state=42)

In [75]:
y_pred = log_reg.predict(X_test_scaled)
y_prob = log_reg.predict_proba(X_test_scaled)[:, 1]

In [76]:
log_reg.coef_
coef_df = pd.DataFrame({
    'Feature': X_encoded.columns,
    'Coefficient': log_reg.coef_[0]
})

coef_df.sort_values(by='Coefficient', ascending=False)

                                   Feature  Coefficient
7                          city_churn_rate     1.177060
17            Internet Service_Fiber optic     0.606759
4                        is_month_to_month     0.368035
3                             early_tenure     0.362065
30                    Streaming Movies_Yes     0.320521
28                        Streaming TV_Yes     0.314726
16                      Multiple Lines_Yes     0.217610
33                   Paperless Billing_Yes     0.156033
12                             Partner_Yes     0.149680
35         Payment Method_Electronic check     0.110407
6                      avg_monthly_revenue     0.094115
37                      tenure_bucket_6-12     0.075880
5                           manual_payment     0.068382
10                             Gender_Male     0.023633
15         Multiple Lines_No phone service     0.021822
24                   Device Protection_Yes     0.019588
38                     tenure_bucket_12-24     0.015249
39                       tenure_bucket_24+     0.013547
34  Payment Method_Credit card (automatic)    -0.002946
11                      Senior Citizen_Yes    -0.003463
22                       Online Backup_Yes    -0.003910
14                       Phone Service_Yes    -0.021822
31                       Contract_One year    -0.036199
8                         protection_score    -0.038047
2                            Total Charges    -0.039761
36             Payment Method_Mailed check    -0.043423
26                        Tech Support_Yes    -0.060293
20                     Online Security_Yes    -0.064092
27        Streaming TV_No internet service    -0.075050
29    Streaming Movies_No internet service    -0.075050
25        Tech Support_No internet service    -0.075050
23   Device Protection_No internet service    -0.075050
21       Online Backup_No internet service    -0.075050
19     Online Security_No internet service    -0.075050
18                     Internet Service_No    -0.075050
9                           streaming_user    -0.184663
32                       Contract_Two year    -0.393567
0                            Tenure Months    -0.444984
1                          Monthly Charges    -0.584673
13                          Dependents_Yes    -0.701503

In [77]:
accuracy_score(y_test, y_pred)

0.8062455642299503

In [78]:
confusion_matrix(y_test, y_pred)

array([[833, 202],
       [ 71, 303]], dtype=int64)

In [79]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.80      0.86      1035
           1       0.60      0.81      0.69       374

    accuracy                           0.81      1409
   macro avg       0.76      0.81      0.77      1409
weighted avg       0.84      0.81      0.81      1409

In [80]:
roc_auc_score(y_test, y_prob)

0.9013175230566536

In [81]:
import numpy as np
from sklearn.metrics import confusion_matrix, precision_score, recall_score

def evaluate_threshold(threshold):
    y_pred_thresh = (y_prob >= threshold).astype(int)
    
    cm = confusion_matrix(y_test, y_pred_thresh)
    precision = precision_score(y_test, y_pred_thresh)
    recall = recall_score(y_test, y_pred_thresh)
    
    return {
        'threshold': threshold,
        'precision': precision,
        'recall': recall,
        'false_negatives': cm[1, 0],
        'false_positives': cm[0, 1],
        'customers_flagged': y_pred_thresh.sum()
    }

In [82]:
thresholds = np.arange(0.3, 0.61, 0.05)

results = [evaluate_threshold(t) for t in thresholds]

threshold_df = pd.DataFrame(results)
threshold_df

,threshold,precision,recall,false_negatives,false_positives,customers_flagged
0,0.30,0.500726,0.922460,29,344,689
1,0.35,0.531153,0.911765,33,301,642
2,0.40,0.554054,0.877005,46,264,592
3,0.45,0.572973,0.850267,56,237,555
4,0.50,0.600000,0.810160,71,202,505
5,0.55,0.622081,0.783422,81,178,471
6,0.60,0.649652,0.748663,94,151,431

In [83]:
final_threshold = 0.4

y_pred_final = (y_prob >= final_threshold).astype(int)
print(confusion_matrix(y_test, y_pred_final))
print(classification_report(y_test, y_pred_final))

[[771 264]
 [ 46 328]]
              precision    recall  f1-score   support

           0       0.94      0.74      0.83      1035
           1       0.55      0.88      0.68       374

    accuracy                           0.78      1409
   macro avg       0.75      0.81      0.76      1409
weighted avg       0.84      0.78      0.79      1409

Random Forest

In [84]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=10,
    min_samples_leaf=50,
    random_state=42,
    class_weight='balanced'
)

rf.fit(X_train, y_train)

RandomForestClassifier(class_weight='balanced', max_depth=10,
                       min_samples_leaf=50, n_estimators=200, random_state=42)

In [85]:
rf_prob = rf.predict_proba(X_test)[:, 1]
rf_auc = roc_auc_score(y_test, rf_prob)
rf_auc

0.8922188638301171

In [86]:
importances = pd.DataFrame({
    'feature': X_encoded.columns,
    'importance': rf.feature_importances_
}).sort_values(by='importance', ascending=False)

importances.head(10)

                            feature  importance
4                 is_month_to_month    0.171775
7                   city_churn_rate    0.167766
32                Contract_Two year    0.100994
0                     Tenure Months    0.078168
17     Internet Service_Fiber optic    0.064946
13                   Dependents_Yes    0.061287
2                     Total Charges    0.045595
35  Payment Method_Electronic check    0.038702
3                      early_tenure    0.033046
1                   Monthly Charges    0.031836

FINAL MODEL(LOGISTIC REGRESSION) OUTPUTS

In [87]:
#copy of original df rows corresponding to X_test
risk_df = df.loc[X_test.index].copy()

In [88]:
risk_df['churn_probability'] = y_prob
risk_df['churn_prediction'] = (y_prob >= 0.4).astype(int)

In [89]:
customer_risk_table = risk_df[
    [
        'City',
        'Tenure Months',
        'Contract',
        'Payment Method',
        'avg_monthly_revenue',
        'early_tenure',
        'is_month_to_month',
        'manual_payment',
        'churn_probability',
        'churn_prediction',
        'Churn'   
    ]
]

In [91]:
customer_risk_table = customer_risk_table.sort_values(
    by='churn_probability',
    ascending=False
)
customer_risk_table.head(10)

,City,Tenure Months,Contract,Payment Method,avg_monthly_revenue,early_tenure,is_month_to_month,manual_payment,churn_probability,churn_prediction,Churn
713,Boulder Creek,2,Month-to-month,Electronic check,84.900000,1,1,1,0.999134,1,1
1053,Tipton,4,Month-to-month,Electronic check,90.550000,1,1,1,0.998742,1,1
1633,Riverbank,11,Month-to-month,Bank transfer (automatic),90.695455,0,1,0,0.998224,1,1
762,Eldridge,1,Month-to-month,Bank transfer (automatic),73.500000,1,1,0,0.997174,1,1
598,Piru,1,Month-to-month,Electronic check,74.500000,1,1,1,0.996753,1,1
1818,La Puente,1,Month-to-month,Electronic check,95.450000,1,1,1,0.996669,1,1
158,Bodfish,1,Month-to-month,Electronic check,89.550000,1,1,1,0.996579,1,1
834,Twain,1,Month-to-month,Mailed check,25.050000,1,1,1,0.996293,1,1
1485,Maricopa,13,Month-to-month,Electronic check,95.730769,0,1,1,0.996257,1,1
1212,Rio Dell,2,Month-to-month,Electronic check,83.150000,1,1,1,0.995353,1,1

In [112]:
import sqlite3

conn = sqlite3.connect("Customer_Churn_Analysis.db")

customer_risk_table.reset_index(drop=True, inplace=True)
customer_risk_table['customer_id'] = customer_risk_table.index + 1

customer_risk_table.rename(columns={
    'Tenure Months': 'tenure_months',
    'Payment Method': 'payment_method',
    'Churn': 'actual_churn'
}, inplace=True)

customer_risk_table.to_sql(
    'customer_churn_risk',
    conn,
    if_exists='replace',
    index=False
)
customer_risk_table.to_csv(
    "customer_churn_risk.csv",
    index=False,
    encoding="utf-8"
)

In [107]:
import sqlite3

conn = sqlite3.connect("Customer_Churn_Analysis.db")
cursor = conn.cursor()

cursor.executescript("""
DROP TABLE IF EXISTS churn_segment_summary;

CREATE TABLE churn_segment_summary AS
SELECT
    contract,
    payment_method,
    COUNT(*) AS total_customers,
    ROUND(AVG(actual_churn), 3) AS churn_rate,
    ROUND(AVG(churn_probability), 3) AS avg_churn_probability
FROM customer_churn_risk
GROUP BY contract, payment_method;
""")

conn.commit()

In [114]:
pd.read_sql(
    "SELECT * FROM churn_segment_summary",
    conn
).head()

,Contract,payment_method,total_customers,churn_rate,avg_churn_probability
0,Month-to-month,Bank transfer (automatic),113,0.389,0.514
1,Month-to-month,Credit card (automatic),118,0.347,0.498
2,Month-to-month,Electronic check,366,0.516,0.678
3,Month-to-month,Mailed check,176,0.313,0.477
4,One year,Bank transfer (automatic),81,0.123,0.175

In [109]:
threshold_df.to_sql(
    'threshold_analysis',
    conn,
    if_exists='replace',
    index=False
)

7

In [118]:
coef_df.columns

Index(['feature', 'coefficient', 'odds_ratio'], dtype='object')

In [119]:
import numpy as np

coef_df['odds_ratio'] = np.exp(coef_df['coefficient'])

coef_df.rename(columns={
    'Feature': 'feature',
    'Coefficient': 'coefficient'
}, inplace=True)

coef_df[['feature', 'coefficient', 'odds_ratio']].to_sql(
    'churn_drivers',
    conn,
    if_exists='replace',
    index=False
)

40

In [120]:
tables = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)

tables

                    name
0         customer_churn
1  churn_segment_summary
2     threshold_analysis
3    customer_churn_risk
4          churn_drivers

In [126]:
table_names = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)['name'].tolist()

for table in table_names:
    df = pd.read_sql(f"SELECT * FROM {table}", conn)
    df.to_csv(
        f"{table}.csv",
        index=False,
        encoding="utf-8"
    )

In [127]:
conn.close()